html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: inherit;        
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1f1f1f;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 20rem;
  background-color: #4e4e4e;
  padding: 3rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 6rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.location {
  font-size: 1rem;
  color: rgb(172, 248, 65);
  margin-bottom: 1.5rem;
}

.bio {
  font-size: 0.9rem;
  color: #e0e0e0;
  margin-bottom: 2rem;
}

.social-links ul {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 1rem;
}

.social-links a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 0.8rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: rgb(172, 248, 65);
  color: #1f1f1f;
  transform: scale(1.02);
}
