:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--grey-900);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;        
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 20rem;
  max-width: 100%;
  background-color: var(--grey-700);
  padding: 3rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 6rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.location {
  font-size: 1rem;
  font-weight: 600;
  color: var(--green);
  margin-bottom: 1.5rem;
}

.bio {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 2rem;
}

.social-links ul {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 1rem;
}

.social-links a {
  display: block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--grey-800);
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: var(--green);
  color: var(--grey-900);
  transform: scale(1.02);
}

@media (max-width: 375px) {
  .container {
    padding: 2rem 1rem;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 30rem;
    padding: 4rem 3rem;
  }
}
